@font-face {
  font-family: "Lucida Sans Unicode";
    src: url('../font/lucida-sans-unicode.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font: 400 14px / 14px 'Lucida Sans Unicode';
/*
    font-family: 'Lucida Sans Unicode';
    font-size: 14px;
*/
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/*-------   header  ---------*/

header {
/*    padding: 18px 0 18px 0;*/
        margin: 19px 0 6px 0;
}
.wrapper {
    width: 912px;
    margin: 0 auto;
}

.phones__item {
    font: 400 19.79px / 28px Arial;
    font-size: 18px;
    letter-spacing: 0.0179em;
    color: #5e696d;

}
.phones__item:first-of-type{
    margin-right: 7px;
}
.icon-phone{
    width: 22px;
    height: 22px;
    margin-right:4px ;
    background: linear-gradient(0deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
    display: inline-block;
    line-height: 21px;
    text-align: center;
}
.phones {
    padding-left: 8px;
    margin-right: 16px;
    float: left;
}

.login {
    width: 496px;
    height: 27px;
    display: block;
    float: left;
  padding: 4px 6px 5px 10px;
    background: linear-gradient(0deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    box-shadow: 1px 3px 3px 0 rgba(150, 150, 150, 0.75);
    border-radius: 5px;
    box-sizing: border-box
}

.icon-user{
    color: #fff;
}
.login__input {
      display: inline-block;
    width: 113px;
    height: 16px;
    margin-right: 4px;
    background-color: #ffffff;
    padding: 0 0 3px 6px;
    box-sizing: border-box;
    letter-spacing: 0.012em;
}
.login__input::-webkit-input-placeholder{
/*    color: #f66363;*/
   color: #97a2a6;
    font-size: 11px;
}

.login__link {
    font: 400 11px / 11px 'Lucida Sans Unicode';
    color: #ffffff;
}
.login__link_signup{
    margin-left: 4px;
}

.login__link_underline {
        margin-left: 19px;
    font-size: 12px;
    color: #bfbfbf;
    text-decoration: underline;
}
.login__submit-btn{
    position: relative;
    display: inline-block;
    background: none;
    padding-right: 4px;
    border: 0;
    border-right:1px solid #ffffff;


}
/*
.login__link[type="submit"]:after{

}
*/
/*
.login__submit-btn:after{
    position: absolute;
    top: 100%;
    left: 100%;
    display: inline-block;
    height: 100%;
    width: 1px;
    background: #fff;
    content: '';

}
*/

.login__form {
    display: inline-block;
}

.nav-links {
    display: block;
    float: left;
    width: 76px;
    margin-left: 17px;
    height: 21px;
    border: 1px solid #bdc4c7;
    border-radius: 14px;
    box-shadow: 1px 1px 5px 1px rgba(126, 140, 145, 0.5);

}
.nav-links__link {
    font-size: 11px;
    color: #76848a;

}
.nav-links__item {
    display: inline-block;
    margin-right: 5px;

}
.nav-links__item:first-of-type{
    margin-left: 9px;
    margin-right: 6px;
}
.nav-links__item:nth-of-type(2){
   margin-right: 4px;
}
.icon-mail-1:before {
    content: '\e802';
    width: 16px;
    font-size: 10px;
}

.banner-lg img{
    width:100%;
}
/*--   main-menu  ---*/
.main-menu {
    margin: 2px 0px 14px 0px;
    background: linear-gradient(180deg,  #576068 0%,#000000 100%);
    box-shadow: 3px 3px 5px 0.00px rgba(0, 0, 0, 0.75);
    border-radius: 7px;
    height: 33px;
    border: 1px solid #0d1642;
    box-sizing: border-box;

}

.main-menu__item {
    display: inline-block;
}
.main-menu__item::first-child{
    padding-right: 0px;
}

.main-menu__link {
    display: block;
    padding: 8px 18px 8px 21px;
    font: 400 14px / 14px 'Lucida Sans Unicode';
    color: #b1bcc0;
    text-transform: uppercase;
    background: transparent;
    box-sizing: border-box;
}
.main-menu__link:hover{
    color: #ffffff;
    border-radius: 10px;
    padding: 8px 18px 8px 21px;
    background:  linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
}
.cart {
    float: right;
    margin: 8px 14px 0 46px;
}
.cart .icon-basket{
    color: #0d5a8f;
    font-size: 17px;
}
.icon-basket:before {
    width: 23px;
    transform: rotateY(180deg);
}
.main-menu-container {
    float: right;
    padding: 4px 0 4px;
    box-sizing: border-box;
}

.cart__name,
.cart__value{
    display: inline-block;
}
.cart__name {
    font: 400 11px Arial;
    color: #929b9f;
    letter-spacing: 0.03em;
}
.cart__name:first-of-type{
   margin-left:  3px;
}
.cart__name:nth-of-type(n+2){
      margin-left: 9px;
}
/*
.cart:nth-child(1){
    margin-left: 14px;
}
*/
.cart__value{
    font: 400 12px Arial;
    color: #0d5a8f;
    letter-spacing: 0.03em;
}
.cart__value:nth-of-type(n+2){
    margin-left: -2px;
}
.cart__value:last-of-type{
     margin-left: 5px;
}


/*-----   sidebar   ----*/
.aside,
.goods{
    float: left;
}
.aside {
    width: 192px;
    box-sizing: border-box;
}

.catalogue{
    padding-right: 9px;
}
.icon-circle {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 1px;
    margin-left: 4px;
    background: #fff;
    border: 4px solid #114165;
    border-radius: 50%;
    box-sizing: border-box;
    vertical-align: middle;
}

.menu-title {
  display: inline-block;
    width: 148px;
    margin-bottom: 8px;
    padding: 2px 0px 2px 4px;
    border-radius: 14px;
    border: 1px solid #79878d;
    color: #114165;
    text-transform: uppercase;
/*    line-height: 24px;*/
    font-size: 15px;
    vertical-align: middle;
}

.menu-title_shadow {
    width: 181px;
    margin-bottom: 15px;
    font-size: 14px;
    padding: 2px 0px 1px 3px;
    box-shadow: 1px 3px 3px 0.00px rgba(150, 150, 150, 0.75);
    box-sizing: border-box;
}
.catalogue .menu-title_shadow{
    font-size: 12.7px;
    margin-top: 3px;
}

.icon-doc-text {
    width: 22px;
    height: 21px;
    margin-right: 3px;
    background: linear-gradient(0deg, #206988 0%, #114165 59%, #0d3458 84%, #0c3256 100%);
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    line-height: 21px;
    text-align: center;
    vertical-align: middle;
}

.side-menu__item{
    color: #465961;
    margin-bottom: 15px;
    margin-left: 30px;
    padding-left: 11px;
    font-size: 13px;
    line-height: 15.4px;
    background: url(../images/list-marker.png) no-repeat ;

}

.side-menu__item:first-of-type{
/*    margin-top: 8px;*/
}
.side-menu__item:hover {
    color: #0c3256;
    text-decoration: underline;
    font: italic 700 14px / 15.4px Arial;
    background: url(../images/list-marker-hover.png) no-repeat 0px;

}

/*----- content -----*/

/*---- goods ----*/
.goods {
    width: 527px;
    background: linear-gradient(0deg, rgba(35,75,93, 0.5) 0%,  rgba(201,207,209, 0.5) 100%);
    padding: 16px 29px 29px 24px;
    border-radius: 5px;
    box-sizing: border-box;
}


.goods-item {
    width: 138px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: inline-block;
    text-align: center;
    float: left;
}
.goods-item:nth-of-type(3n){
    margin-right: 0px;
}
.goods-item:nth-last-of-type(-n+3){
    margin-bottom: 0px;
}

.goods-item__image {
    width: 100%;
    padding:5px 0px 4px;
    background: #ffffff;
    border: 1px solid #a4aeb1;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
}

.goods-item__brand {
    font: 700 15px  'Lucida Sans Unicode';
    color: #206988;
}

.goods-item__model {
    font-size: 13px;
    color: #1f2528;
}

.goods-item__price {
   color: #114165;
    font: italic 700 16px / 16px Arial;
    margin-right: 6px;
}
..goods-item__currency{
    font: italic 700 13px / 13px Arial;
}

.brands {
    padding-left: 10px;
    box-sizing: border-box;
}

.brands-menu {
    margin-left: 15px;
}

.brands-menu__item {
    margin: 0px 0px 17px 10px;

}

button {

}

.brands__btn {
  color: #e5e9ea;
    height: 26px;
    width: 80px;
    background: linear-gradient(0deg, #206988 100%, #114165 59%, #0c3256 0%);
    padding: 8px 12px 10px 13px;
    margin-left: 24px;
    border: 1px solid #a7abae;
    border-radius: 12px;
    text-transform: uppercase;
    font: 400 11px / 11px Arial;
    box-shadow: 1px 1px 3px 0px #bcbcbc;
    cursor: pointer;
}

.brands-menu__check {
    margin-right: 15px;
}
.brands-menu .menu-title{
    width: 128px;
}
.brands-logo {
    width: 676px;
    margin: 38px auto 25px;


}

.brands-logos__item {
    margin-right: 12px
}

/*------  footer  ------*/
.footer {
    width: 100%;
    background: #213a4d;
    min-height: 100px;

}
.footer-menu{
    width: 296px;
    padding-top: 13px;
    margin: 0px auto;

}

.footer-menu__item {
    display: inline-block;
    color: #bec6c9;
    font:400 12px / 15px Arial;
}
.footer-menu__item:hover{
    color: #52accb;
}

.footer-menu__item {
    border-right: 1px solid #bec6c9;
    padding: 0px 11px 0px;

}

.footer-menu__item:first-of-type{
    padding-left:0;
}
.footer-menu__item:last-of-type{
    border-right: none;
    padding-right:0;
}

.modul {
    height: 150px;
}
