
.icon-mail:before { content: '\e800'; } /* '' */
.icon-home-2:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-home-1:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
